In [1]:
import sklearn

In [2]:
%matplotlib inline
import pandas as pd

In [3]:
dataset = pd.read_excel('Real estate valuation data set.xlsx')

In [4]:
dataset.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [5]:
dataset.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148953,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281995,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.666667,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.916667,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.166667,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.416667,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583333,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [6]:
dataset.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [8]:
dataset.drop(['No','X1 transaction date'],axis = 1,inplace = True)

In [9]:
dataset.isnull().sum()

X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [10]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1:]

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)
y_train.shape

(331, 1)

In [22]:
from sklearn.svm import SVC

In [23]:
reg = SVC(kernel = 'linear',degree = 1)

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
336,5.1,1867.2330,2,24.98407,121.51748
51,31.3,1758.4060,1,24.95402,121.55282
327,3.5,757.3377,3,24.97538,121.54971
381,8.0,132.5469,9,24.98298,121.53981
355,3.8,383.8624,5,24.98085,121.54391
367,15.0,1828.3190,2,24.96464,121.51531
379,0.0,292.9978,6,24.97744,121.54458
253,30.4,1735.5950,2,24.96464,121.51623
197,34.4,126.7286,8,24.96881,121.54089
246,16.4,389.8219,6,24.96412,121.54273
167,28.2,330.0854,8,24.97408,121.54011
212,17.6,1805.6650,2,24.98672,121.52091
202,38.3,642.6985,3,24.97559,121.53713
313,8.3,104.8101,5,24.96674,121.54067
123,0.0,185.4296,0,24.97110,121.53170
63,2.6,533.4762,4,24.97445,121.54765
233,39.7,333.3679,9,24.98016,121.53932
334,30.0,1013.3410,5,24.99006,121.53460
273,13.2,170.1289,1,24.97371,121.52984
64,17.5,995.7554,0,24.96305,121.54915
310,16.4,1643.4990,2,24.95394,121.55174
131,4.0,2147.3760,3,24.96299,121.51284
74,6.8,379.5575,10,24.98343,121.53762
303,38.3,439.7105,0,24.97161,121.53423
259,17.7,837.7233,0,24.96334,121.54767
190,35.3,616.5735,8,24.97945,121.53642
126,38.6,804.6897,4,24.97838,121.53477
58,30.3,4510.3590,1,24.94925,121.49542
36,14.7,1935.0090,2,24.96386,121.51458
270,10.8,252.5822,1,24.97460,121.53046
...,...,...,...,...,...
76,35.9,616.4004,3,24.97723,121.53767
316,13.3,250.6310,7,24.96606,121.54297
177,33.0,181.0766,9,24.97697,121.54262
157,16.1,815.9314,4,24.97886,121.53464
141,5.1,1559.8270,3,24.97213,121.51627
41,16.8,4066.5870,0,24.94297,121.50342
280,2.3,184.3302,6,24.96581,121.54086
69,12.5,561.9845,5,24.98746,121.54391
376,14.7,1717.1930,2,24.96447,121.51649
113,14.8,393.2606,6,24.96172,121.53812
75,12.3,1360.1390,1,24.95204,121.54842
200,17.4,995.7554,0,24.96305,121.54915
78,38.2,552.4371,2,24.97598,121.53381
358,1.1,193.5845,6,24.96571,121.54089
97,28.4,617.4424,3,24.97746,121.53299
374,5.4,390.5684,5,24.97937,121.54245
332,39.8,617.7134,2,24.97577,121.53475
153,6.5,376.1709,6,24.95418,121.53713
199,18.2,451.6419,8,24.96945,121.54490
335,27.3,337.6016,6,24.96431,121.54063
216,37.8,590.9292,1,24.97153,121.53559
165,13.7,1236.5640,1,24.97694,121.55391
79,18.0,1414.8370,1,24.95182,121.54887
115,20.6,737.9161,2,24.98092,121.54739
85,0.0,338.9679,9,24.96853,121.54413
139,12.9,492.2313,5,24.96515,121.53737
86,1.8,1455.7980,1,24.95120,121.54900
383,29.1,506.1144,4,24.97845,121.53889
145,2.1,451.2438,5,24.97563,121.54694
179,14.0,438.8513,1,24.97493,121.52730

In [24]:
reg.fit(x_train,y_train)

E:\anaconda\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Unknown label type: 'continuous'

In [25]:
dataset.isnull().sum()

X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64